@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --main-color: rgb(86, 123, 120);
    --main-other-color: #162F2C;
    --main-button-color: rgb(2, 29, 25);
    --font-title: 'Inter', sans-serif;
}

body {
    background-color: var(--main-color);
    font-family: var(--font-title);
    color: white;
}

h1,
p {
    text-align: center;
}

h1 {
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
    border: 6px solid white;
}

nav {
    background-color: var(--main-other-color);
    padding: 10px;
}

a:hover {
    color: rgb(11, 112, 90);
}

.description {
    display: flex;
    text-align: left;
    justify-content: center;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 60%;
    border-radius: 25px;
    background-color: var(--main-other-color);
}

nav ul {
    margin: auto;
    max-width: 1100px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    list-style: none;
}

nav a {
    display: flex;
    padding: 12px 24px;
    font-weight: 1000;
    color: white;
    text-decoration: none;
    background-color: var(--main-button-color);
}